@import 'variables';

@keyframes moving {
  0% {
    inset-inline-start: -20px;
  }

  100% {
    inset-inline-start: -16px;
  }
}

@keyframes core-coloring {
  100% {
    fill: $core-active;
  }
}

@keyframes main-body-coloring {
  100% {
    fill: $main-body-active;
  }
}

@keyframes contour-coloring {
  100% {
    fill: $contour-active;
  }
}

@keyframes icon-scaling {
  100% {
    transform: scale(1.5);
    transform-origin: center;
  }
}

@keyframes sparks-coloring {
  100% {
    fill: $sparks-fill-color;
  }
}
