/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
@import 'variables';
@import 'fonts';
@import 'themes';
@import 'globals';
@import 'animations';

.page {
  padding: 100px 0;
  font-family: $main-font, sans-serif;
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings:
    'wght' $main-font-theme-light-weight,
    'wdth' 100,
    'opsz' 0;
}

.content-section {
  margin: 0 auto;
  max-inline-size: 696px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 100px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color $transform-time;
  transition-timing-function: $transition-function;
}

// clamp (font-size): min - 14px; max - 23px
// clamp (margin): min - 120px; max - 136px
.header__title {
  margin: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem) 0 25px;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  text-align: center;
}

// clamp: min - 49px; max - 65px;
.header__title-accent {
  display: block;
  margin: 0 0 20px;
  font-weight: inherit;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0 0 25px 18px;
  text-align: left;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  transition: color $transform-time;
  transition-timing-function: $transition-function;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  background-color: $theme-dark-accent-transparent;
  transition:
    transform $transform-time,
    color $transform-time;
  transition-timing-function: $transition-function;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 3px;
  inline-size: 100%;
  inset-block-end: -3px;
  inset-inline-start: 0;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  position: relative;
  transition: color $transform-time;
  transition-timing-function: $transition-function;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: moving 0.5s infinite ease-in-out reverse;
  inset-inline-start: -20px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__header {
  padding: 4px 10px 6px;
  font-size: 18px;
}

.card__image-container {
  position: relative;
}

.card__image-text {
  position: absolute;
  opacity: 0.6;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  inset-inline-end: 10px;
  inset-block-start: 20px;
}

.card__image {
  display: block;
  width: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 25px;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: none;
  padding: $border-width;
  outline: $border-width solid transparent;
  outline-offset: -($border-width);
  background-color: transparent;
  transition: outline $transform-time;
  transition-timing-function: $transition-function;
  cursor: pointer;
  inline-size: 43px;

  .like-icon {
    .core {
      transition: fill 0.3s 0.03s linear;
    }

    .main-body {
      transition: fill 0.3s linear;
    }
  }
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:hover {
  .like-icon {
    .core {
      fill: $core-theme-light;
      transition: fill 0.3s linear;
    }

    .main-body {
      fill: $main-body-theme-light;
      transition: fill 0.3s 0.05s linear;
    }
  }
}

.card__icon-button:active {
  .like-icon {
    .core {
      transition: fill 0.3s linear;
    }

    .main-body {
      transition: fill 0.3s 0.05s linear;
    }
  }
}

.card__like-button {
  padding: 9px 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  cursor: pointer;
}

.standard-button {
  transition: box-shadow $transform-time;
  transition-timing-function: $transition-function;
  position: relative;
}

.standard-button:focus {
  outline: none;
}

.standard-button::before {
  content: '';
  inset: 0;
  z-index: 1;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.standard-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  display: block;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
}

.footer {
  margin: 54px auto 0;
  max-inline-size: 335px;
}

.footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: transparent;
  transition: box-shadow $transform-time;
  transition-timing-function: $transition-function;
  cursor: pointer;
}

.footer__button:focus {
  outline: none;
}

.footer__button-image {
  block-size: 28px;
  inline-size: auto;
  z-index: 2;
  position: relative;
  mix-blend-mode: difference;
}

@media (width > 380px) {
  .footer__button {
    flex-direction: row;
  }

  .footer__button-image {
    margin: 0 0 0 19px;
  }
}
