@import 'variables';

:root.theme-light {
  color: $theme-light-accent;
  background-color: $theme-light-background;

  @supports (
    (text-stroke: 1px $theme-light-background) or
      (-webkit-text-stroke: 1px $theme-light-background)
  ) {
    .card__image-text {
      text-shadow: none;
      -webkit-text-stroke: 1px $theme-light-background;
    }
  }

  .page {
    background-image: $gradient-left-to-right-theme-light,
      $gradient-top-to-bottom-theme-light, $gradient-background-theme-light;
  }

  .header {
    border: $border-width solid $theme-light-accent;
    background-color: $theme-light-background;
  }

  .theme-menu__button:focus-visible {
    color: $theme-light-accent-transparent;
  }

  .theme-menu__button::after {
    background-color: $theme-light-accent-transparent;
  }

  .theme-menu__button:hover {
    color: $theme-light-accent-transparent;
  }

  .theme-menu__button:disabled {
    color: $theme-light-accent-transparent;
  }

  .theme-menu__button:disabled::before {
    color: $theme-light-accent-transparent;
  }

  .card {
    border: $border-width solid $theme-light-accent;
    background-color: $theme-light-background;
  }

  .card__header {
    border: $border-width solid $theme-light-accent;
    font-variation-settings:
      'wght' $main-font-bold-theme-light-weight,
      'wdth' 100,
      'opsz' 0;
  }

  .card__image-text {
    color: $theme-light-accent;
    text-shadow:
      1px 0 0 $theme-light-background,
      1px 0 0 $theme-light-background,
      0 1px 0 $theme-light-background,
      0 1px 0 $theme-light-background,
      -1px 0 0 $theme-light-background,
      -1px 0 0 $theme-light-background,
      0 -1px 0 $theme-light-background,
      0 -1px 0 $theme-light-background;
  }

  .card__image {
    border: $border-width solid $theme-light-accent;
  }

  .card__body {
    border: $border-width solid $theme-light-accent;
  }

  .card__text {
    font-variation-settings:
      'wght' $main-font-theme-light-weight,
      'wdth' 100,
      'opsz' 0;
  }

  .card__icon-button:focus-visible {
    outline: $border-width solid $theme-light-accent;
  }

  .standard-button {
    border: $border-width solid $theme-light-accent;
  }

  .standard-button:focus-visible {
    box-shadow: 2px 2px 0 2px $theme-light-accent;
  }

  .standard-button::before {
    background-color: $theme-light-accent;
  }

  .button__text {
    color: $theme-light-background;
  }

  .footer {
    background-color: $theme-light-background;
  }

  .footer__button-image {
    color: $theme-light-background;
  }

  .contour {
    fill: $contour-theme-light;
  }

  .core {
    fill: $core-theme-light-transparent;
  }

  .main-body {
    fill: $main-body-theme-light-transparent;
  }

  .sparks {
    fill: $sparks-fill-color-transparent;
  }

  .card__icon-button:hover {
    .like-icon {
      .core {
        fill: $core-theme-light;
      }

      .main-body {
        fill: $main-body-theme-light;
      }
    }
  }

  .card__icon-button:active {
    .like-icon {
      .core {
        fill: $core-active;
      }

      .main-body {
        fill: $main-body-active;
      }
    }
  }
}

:root.theme-dark {
  color: $theme-dark-accent;
  background-color: $theme-dark-background;

  @supports (
    (text-stroke: 1px $theme-dark-background) or
      (-webkit-text-stroke: 1px $theme-dark-background)
  ) {
    .card__image-text {
      text-shadow: none;
      -webkit-text-stroke: 1px $theme-dark-background;
    }
  }

  .page {
    background-image: $gradient-left-to-right-theme-dark,
      $gradient-top-to-bottom-theme-dark, $gradient-background-theme-dark;
    font-variation-settings:
      'wght' $main-font-theme-dark-weight,
      'wdth' 100,
      'opsz' 0;
  }

  .header {
    border: $border-width solid $theme-dark-accent;
    background-color: $theme-dark-background;
  }

  .theme-menu__button:focus-visible {
    color: $theme-dark-accent-transparent;
  }

  .theme-menu__button::after {
    background-color: $theme-dark-accent-transparent;
  }

  .theme-menu__button:hover {
    color: $theme-dark-accent-transparent;
  }

  .theme-menu__button:disabled {
    color: $theme-dark-accent-transparent;
  }

  .theme-menu__button:disabled::before {
    color: $theme-dark-accent-transparent;
  }

  .card {
    border: $border-width solid $theme-dark-accent;
    background-color: $theme-dark-background;
  }

  .card__header {
    border: $border-width solid $theme-dark-accent;
    font-variation-settings:
      'wght' $main-font-bold-theme-dark-weight,
      'wdth' 100,
      'opsz' 0;
  }

  .card__image-text {
    color: $theme-dark-accent;
    text-shadow:
      1px 0 0 $theme-dark-background,
      1px 0 0 $theme-dark-background,
      0 1px 0 $theme-dark-background,
      0 1px 0 $theme-dark-background,
      -1px 0 0 $theme-dark-background,
      -1px 0 0 $theme-dark-background,
      0 -1px 0 $theme-dark-background,
      0 -1px 0 $theme-dark-background;
  }

  .card__image {
    border: $border-width solid $theme-dark-accent;
  }

  .card__body {
    border: $border-width solid $theme-dark-accent;
  }

  .card__text {
    font-variation-settings:
      'wght' $main-font-theme-dark-weight,
      'wdth' 100,
      'opsz' 0;
  }

  .card__icon-button:focus-visible {
    outline: $border-width solid $theme-dark-accent;
  }

  .standard-button {
    border: $border-width solid $theme-dark-accent;
  }

  .standard-button:focus-visible {
    box-shadow: 2px 2px 0 2px $theme-dark-accent;
  }

  .standard-button::before {
    background-color: $theme-dark-accent;
  }

  .button__text {
    color: $theme-dark-accent;
  }

  .footer {
    background-color: $theme-dark-background;
  }

  .footer__button-image {
    color: $theme-dark-accent;
  }

  .contour {
    fill: $contour-theme-dark;
  }

  .core {
    fill: $core-theme-dark-transparent;
  }

  .main-body {
    fill: $main-body-theme-dark-transparent;
  }

  .sparks {
    fill: $sparks-fill-color-transparent;
  }

  .card__icon-button:hover {
    .like-icon {
      .core {
        fill: $core-theme-dark;
      }

      .main-body {
        fill: $main-body-theme-dark;
      }
    }
  }

  .card__icon-button:active {
    .like-icon {
      .core {
        fill: $core-active;
      }

      .main-body {
        fill: $main-body-active;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: $theme-dark-accent;
    background-color: $theme-dark-background;

    @supports (
      (text-stroke: 1px $theme-dark-background) or
        (-webkit-text-stroke: 1px $theme-dark-background)
    ) {
      .card__image-text {
        text-shadow: none;
        -webkit-text-stroke: 1px $theme-dark-background;
      }
    }

    .page {
      background-image: $gradient-left-to-right-theme-dark,
        $gradient-top-to-bottom-theme-dark, $gradient-background-theme-dark;
      font-variation-settings:
        'wght' $main-font-theme-dark-weight,
        'wdth' 100,
        'opsz' 0;
    }

    .header {
      border: $border-width solid $theme-dark-accent;
      background-color: $theme-dark-background;
    }

    .theme-menu__button::after {
      background-color: $theme-dark-accent-transparent;
    }

    .theme-menu__button:focus-visible {
      color: $theme-dark-accent-transparent;
    }

    .theme-menu__button:hover {
      color: $theme-dark-accent-transparent;
    }

    .theme-menu__button:disabled {
      color: $theme-dark-accent-transparent;
    }

    .theme-menu__button:disabled::before {
      color: $theme-dark-accent-transparent;
    }

    .card {
      border: $border-width solid $theme-dark-accent;
      background-color: $theme-dark-background;
    }

    .card__header {
      border: $border-width solid $theme-dark-accent;
      font-variation-settings:
        'wght' $main-font-bold-theme-dark-weight,
        'wdth' 100,
        'opsz' 0;
    }

    .card__image-text {
      color: $theme-dark-accent;
      text-shadow:
        1px 0 0 $theme-dark-background,
        1px 0 0 $theme-dark-background,
        0 1px 0 $theme-dark-background,
        0 1px 0 $theme-dark-background,
        -1px 0 0 $theme-dark-background,
        -1px 0 0 $theme-dark-background,
        0 -1px 0 $theme-dark-background,
        0 -1px 0 $theme-dark-background;
    }

    .card__image {
      border: $border-width solid $theme-dark-accent;
    }

    .card__body {
      border: $border-width solid $theme-dark-accent;
    }

    .card__text {
      font-variation-settings:
        'wght' $main-font-theme-dark-weight,
        'wdth' 100,
        'opsz' 0;
    }

    .card__icon-button:focus-visible {
      outline: $border-width solid $theme-dark-accent;
    }

    .standard-button {
      border: $border-width solid $theme-dark-accent;
    }

    .standard-button:focus-visible {
      box-shadow: 2px 2px 0 2px $theme-dark-accent;
    }

    .standard-button::before {
      background-color: $theme-dark-accent;
    }

    .button__text {
      color: $theme-dark-accent;
    }

    .footer {
      background-color: $theme-dark-background;
    }

    .footer__button {
      border: $border-width solid $theme-dark-accent;
    }

    .footer__button-image {
      color: $theme-dark-accent;
    }

    .contour {
      fill: $contour-theme-dark;
    }

    .core {
      fill: $core-theme-dark-transparent;
    }

    .main-body {
      fill: $main-body-theme-dark-transparent;
    }

    .sparks {
      fill: $sparks-fill-color-transparent;
    }

    .card__icon-button:hover {
      .like-icon {
        .core {
          fill: $core-theme-dark;
        }

        .main-body {
          fill: $main-body-theme-dark;
        }
      }
    }

    .card__icon-button:active {
      .like-icon {
        .core {
          fill: $core-active;
        }

        .main-body {
          fill: $main-body-active;
        }
      }
    }
  }
}
