$main-font: 'Inter-Variable';
$accent-font: 'PressStart2P';
$main-font-theme-light-weight: 400;
$main-font-theme-dark-weight: 465;
$main-font-bold-theme-light-weight: 700;
$main-font-bold-theme-dark-weight: 785;
$theme-light-background: #fff;
$theme-light-accent: #000;
$theme-dark-background: #000;
$theme-dark-accent: #00cc14;
